---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true })
);
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>I'll put blogs here</p>
  <ol>
    {
      allPosts.map((post: any) => (
        <BlogPost postUrl={post.url} postTitle={post.frontmatter.title} />
      ))
    }
  </ol>
</BaseLayout>
